In [1]:
import requests
import pandas as pd

In [31]:

df2=pd.read_csv('Geospatial_Coordinates.csv')

In [32]:
df2

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [9]:
df1=pd.read_csv('Data.csv')

Merging the two data frames

In [50]:
df3= pd.concat([df1,df2], axis=1)

In [51]:
df3.head()

,Unnamed: 0,PostalCode,Borough,Neighborhood,Postal Code,Latitude,Longitude
0,0,M1B,Scarborough,Malvern / Rouge,M1B,43.806686,-79.194353
1,1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,M1C,43.784535,-79.160497
2,2,M1E,Scarborough,Guildwood / Morningside / West Hill,M1E,43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476

In [52]:
df3.shape

(103, 7)

In [53]:
df3.drop('Unnamed: 0', axis=1, inplace=True)
df3.drop('Postal Code', axis=1, inplace=True)

In [54]:
df3.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

Downloading the given dataframe

In [39]:
df3.to_csv('Neighborhood+lat+long.csv')

Making it according to the data frame given

In [69]:
Column_names = ["PostalCode", "Borough", "Neighborhood", "Latitude", "Longitude"]
df5 = pd.DataFrame(columns=Column_names)
list_postal_codes = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in list_postal_codes:
    df5 = df5.append(df3[df3["PostalCode"]==postcode], ignore_index=True)

df5

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
1,M2H,North York,Hillcrest Village,43.803762,-79.363452
2,M4B,East York,Parkview Hill / Woodbine Gardens,43.706397,-79.309937
3,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
4,M4G,East York,Leaside,43.709060,-79.363452
5,M4M,East Toronto,Studio District,43.659526,-79.340923
6,M1R,Scarborough,Wexford / Maryvale,43.750072,-79.295849
7,M9V,Etobicoke,South Steeles / Silverstone / Humbergate / Jam...,43.739416,-79.588437
8,M9L,North York,Humber Summit,43.756303,-79.565963
9,M5V,Downtown Toronto,CN Tower / King and Spadina / Railway Lands / ...,43.628947,-79.394420
10,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
11,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636

Dowloading the given dataframe

In [70]:
df5.to_csv('shortened_lat_long.csv')